<div class="container">
  <div class="row justify-content-between my-5">
    <h1 class="text-center">Book <%= @surfboard.name %></h1>
    <div>
      <%= link_to "Back to surfboard", surfboard_path(@surfboard), class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">

      <div class="form-container my-3">
        <%= simple_form_for [@surfboard, @booking] do |f| %>
          <%= f.input :collection_date, html5: true %>
          <%= f.input :return_date, html5: true %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
