<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center my-5">Make a booking for <%= @surfboard.name %></h1>

      <div class="form-container my-3">
        <%= simple_form_for [@surfboard, @booking] do |f| %>
          <%= f.input :collection_date, html5: true %>
          <%= f.input :return_date, html5: true %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
