<div class="col">
  <% if surfboards.empty? %>
      <h4 class="text-center">You do not have any surfboards (yet!)</h4>
  <% else %>


  <% surfboards.each do |surfboard| %>
  <div class="col-xs-12 col-md-8 col-xl-6 mb-3 mx-auto">
    <%= link_to surfboard_path(surfboard) do %>

    <div class="card-surfboard">
      <div>
        <% if surfboard.photo.attached? %>
        <%= cl_image_tag surfboard.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "surfboard-index-img"%>
        <% end %>
      </div>
      <div class="card-surfboard-infos">
        <div class="surfboard-title">
          <% feet = surfboard.length / 12 %>
          <% inches = surfboard.length % 12 %>
          <% length = "#{feet}'#{inches}\"" %>
          <h2><%= length %> <%= surfboard.name %></h2>
          <p><%= surfboard.description %></p>
        </div>
        <div class="surfboard-additional-info">
          <div class="surfboard-rating">
            <% num_ratings = surfboard.reviews.size %>
            <% total_score = surfboard.reviews.map { |review| review.rating }.sum %>
            <% avg_rating = total_score.positive? ? total_score.fdiv(num_ratings) : "N/A" %>
            <p><i class="fas fa-star"></i> <%= avg_rating%> (<%= pluralize num_ratings, "review" %>)</p>
          </div>
          <div class="surfboard-pricing">
            <p>$ <%= surfboard.price_per_day %> / day</p>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <% end %>


  <% end %>
</div>
