<div class="col-xs-12 col-md-6">
  <h3><%= bookings_name %></h3>

  <% if bookings.empty? %>
    <h4>There are no bookings</h4>
  <% else %>
    <% bookings.each do |booking| %>

    <%= link_to booking_path(booking) do %>

    <div class="card-trip">
      <% if booking.surfboard.photo.attached? %>
        <%= cl_image_tag booking.surfboard.photo.key %>
      <% end %>
      <div class="card-trip-infos p-3">
        <div>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
        </div>
        <h4><%= booking.user.name %></h4>
        <p><strong>Price per day: $</strong><%= booking.price_per_day %></p>
        <p><strong>Total revenue from booking: $</strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        <% if booking.user.photo.attached? %>
        <%= cl_image_tag booking.user.photo.key, class: "card-trip-user avatar-bordered" %>
        <% end %>
      </div>
    </div>

    <% end %>

    <% if bookings_name == "Pending Bookings" %>
      <div class="d-flex justify-content-around m-3">
        <%= link_to "Accept", booking_path(booking, booking: { accepted: true }), method: :patch, class: "btn btn-sm btn-outline-success" %>
        <%= link_to "Decline", booking_path(booking, booking: { accepted: false }), method: :patch, accepted: false, class: "btn btn-sm btn-outline-danger" %>
      </div>
    <% end %>

    <% end %>
  <% end %>
</div>
