<div class="col">
  <% if surfboards.empty? %>
    <h4>You do not have any surfboards (yet!)</h4>
  <% else %>
    <% surfboards.each do |surfboard| %>

      <%= link_to surfboard_path(surfboard) do %>
        <div class="col-md-6 my-4">

          <div class="card-trip h-100">
            <% if surfboard.photo.attached? %>
            <%= cl_image_tag surfboard.photo.key %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h4><%= surfboard.description %></h4>
                <p><strong>Length: </strong><%= surfboard.length %> inches</p>
                <p><strong>Volume: </strong><%= surfboard.volume %></p>
                <p><strong>Board type: </strong><%= surfboard.board_type %></p>
                <p><strong>Fin type: </strong><%= surfboard.fin_type %></p>
                <p><strong>Brand: </strong><%= surfboard.brand %></p>
                <h2 class="card-trip-pricing">Price per day: $<%= surfboard.price_per_day %></h2>
              </div>
            </div>
          </div>

        </div>
      <% end %>

    <% end %>
  <% end %>
</div>
