<div class="row my-5">
  <h3><%= bookings_name %></h3>
</div>


<% if bookings.empty? %>
<div class="row my-5">
  <h4>There are no bookings</h4>
</div>
<% else %>
<div class="row my-5">
    <div class="bookings-container">
      <% bookings.each do |booking| %>

      <%= link_to booking_path(booking) do %>

      <div class="card-surfboard my-3">
        <div>
          <% if booking.surfboard.photo.attached? %>
          <%= cl_image_tag booking.surfboard.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "surfboard-index-img" %>
          <% end %>
        </div>

        <div class="card-surfboard-infos">
          <div class="surfboard-title">
            <h4><%= booking.surfboard.name %></h4>
            <h4><%= booking.user.name %></h4>
          </div>
        <% if bookings_name == "Pending Bookings" %>
        <div>
          <%= link_to "Accept", booking_path(booking, booking: { accepted: true }), method: :patch, class: "btn btn-sm btn-outline-success" %>
          <%= link_to "Decline", booking_path(booking, booking: { accepted: false }), method: :patch, accepted: false, class: "btn btn-sm btn-outline-danger" %>
        </div>
        <% end %>
          <div class="surfboard-additional-info">
            <div class="surfboard-rating">
              <p><strong>Collection date: </strong><%= booking.collection_date %></p>
              <p><strong>Return date: </strong><%= booking.return_date %></p>
            </div>
            <div class="surfboard-pricing">
              <p><strong>Price per day: $</strong><%= booking.price_per_day %></p>
              <p><strong>Total revenue: $</strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
            </div>
          </div>
          <% if booking.user.photo.attached? %>
          <%= cl_image_tag booking.user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face,  class: "card-trip-user avatar-bordered" %>
          <% end %>

        </div>
      </div>

      <% end %>
      <% end %>
    </div>
  <% end %>
</div>

