<% bookings.each do |booking| %>

  <%= link_to booking_path(booking) do %>

    <div class="col-xs-12 col-md-6">
      <div class="card-surfboard">
        <% if booking.surfboard.photo.attached? %>
          <%= cl_image_tag booking.surfboard.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "surfboard-index-img" %>
        <% end %>

      <div class="card-surfboard-infos">
        <div class="surfboard-title">
          <h4><%= booking.surfboard.name %></h4>
          <p><%= booking.surfboard.description %></p>
      </div>
      <div class="surfboard-additional-info">
        <div class="surfboard-rating">
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
        </div>
        <div class="surfboard-pricing">
          <p><strong>Price per day: $</strong><%= booking.price_per_day %></p>
          <p><strong>Total price: $</strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
        <% if booking.surfboard.user.photo.attached? %>
          <%= cl_image_tag booking.surfboard.user.photo.key, class: "card-trip-user avatar-bordered" %>
        <% end %>

      </div>
    </div>
    </div>
  <% end %>

<% end %>

