<div class="container">
  <div class="row my-5">
    <h1><%= current_user.email %></h1>
  </div>

  <% unless @surfboard_bookings.empty? %>
  <div class="row my-3">
    <h2>Bookings for your surfboards</h2>
  </div>

  <% unless @current_surfboard_bookings.empty? %>
  <div class="row mt-5">
    <div class="col-md-6">
      <h3>Current bookings</h3>
      <% @current_surfboard_bookings.each do |booking| %>

      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.user.email %></h4>
          <p><strong>Borrower: </strong></p>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total revenue from booking: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% unless @upcoming_surfboard_bookings.empty? %>
    <div class="col-md-6">
      <h3>Upcoming bookings</h3>
      <% @upcoming_surfboard_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total revenue from booking: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% unless @pending_surfboard_bookings.empty?  %>
    <div class="col-md-6">
      <h3>Pending bookings</h3>
      <% @pending_surfboard_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total revenue from booking: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to "Accept", booking_path(booking, booking: { accepted: true }), method: :patch, class: "btn btn-sm btn-outline-success" %>
        <%= link_to "Decline", booking_path(booking, booking: { accepted: false }), method: :patch, accepted: false, class: "btn btn-sm btn-outline-danger" %>
      </div>
      <% end %>
    </div>
    <% end %>

    <% unless @past_surfboard_bookings.empty? %>
    <div class="col-md-6">
      <h3>Past bookings</h3>
      <% @past_surfboard_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total revenue from booking: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
      <%  %>
    </div>
    <% end %>
  </div>
  <% end %>

  <% end %>

  <% unless @user.bookings.empty? %>

  <div class="row my-3">
    <h2>Your bookings for others' surfboards</h2>
  </div>

  <div class="row">
    <% unless @current_user_bookings.empty?  %>
    <div class="col-md-6">
    <h3>Current bookings</h3>
    <% @current_user_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.surfboard.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total price: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

    <% unless @upcoming_user_bookings  %>
    <div class="col-md-6">
    <h3>Upcoming bookings</h3>
    <% @upcoming_user_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.surfboard.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total price: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

    <% unless @pending_user_bookings.empty? %>
    <div class="col-md-6">
    <h3>Pending bookings</h3>
    <% @pending_user_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.surfboard.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total price: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

    <% unless @past_user_bookings  %>
    <div class="col-md-6">
    <h3>Past bookings</h3>
    <% @past_user_bookings.each do |booking| %>
      <div class="card-product">
        <img src="borrower_avatar" />
        <div class="card-product-infos">
          <h4><%= booking.surfboard.user.email %></h4>
          <p><strong>Surfboard: </strong><%= booking.surfboard.name %> </p>
          <p><strong>Collection date: </strong><%= booking.collection_date %></p>
          <p><strong>Return date: </strong><%= booking.return_date %></p>
          <p><strong>Price per day: </strong><%= booking.price_per_day %></p>
          <p><strong>Total price: </strong><%= booking.price_per_day * (booking.return_date - booking.collection_date).to_i %></p>
        </div>
      </div>
    </div>
    <% end %>

    <% end %>

  </div>
  <% end %>



  <div class="row mt-5 justify-content-between">
    <h2>Your surfboards</h2>
    <div>
      <%= link_to "Add a surfboard", new_user_surfboard_path(current_user), class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="row my-3">
    <% current_user.surfboards.each do |surfboard| %>
    <div class="col-md-6 my-4">

      <div class="card-trip h-100">
        <% if surfboard.photo.attached? %>
          <%= cl_image_tag surfboard.photo.key %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= surfboard.description %></h2>
            <p><strong>Length: </strong><%= surfboard.length %> inches</p>
            <p><strong>Volume: </strong><%= surfboard.volume %></p>
            <p><strong>Board type: </strong><%= surfboard.board_type %></p>
            <p><strong>Fin type: </strong><%= surfboard.fin_type %></p>
            <p><strong>Brand: </strong><%= surfboard.brand %></p>
            <h2 class="card-trip-pricing">Price per day: $<%= surfboard.price_per_day %></h2>
            <img src="placeholder for user (renter) avatar" alt="placeholder">
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>


</div>
