<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @user.name %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <% @user.surfboards.each do |surfboard| %>

        <div class="card-trip">
          <img src="#placeholder" alt="placeholder image">
          <div class="card-trip-infos">
            <div>
              <h2><%= surfboard.description %></h2>
              <p><strong>Length: </strong><%= surfboard.length %> inches</p>
              <p><strong>Volume: </strong><%= surfboard.volume %></p>
              <p><strong>Board type: </strong><%= surfboard.board_type %></p>
              <p><strong>Fin type: </strong><%= surfboard.fin_type %></p>
              <p><strong>Brand: </strong><%= surfboard.brand %></p>
              <h2 class="card-trip-pricing">Price per day: $<%= surfboard.price_per_day %></h2>
              <img src="placeholder for user (renter) avatar" alt="placeholder">
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
