<div class="container">
  <div class="row justify-content-between my-5">
    <h1>Edit <%= @surfboard.name %></h1>
    <div>
      <%= link_to "Back to surfboard", surfboard_path(@surfboard), class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <div class="row">


    <div class="col-md-8 mx-auto">


      <%= simple_form_for [@surfboard] do |f| %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :board_type %>
          <%= f.input :fin_type %>
          <%= f.input :brand %>
          <%= f.input :length %>
          <%= f.input :volume %>
          <%= f.input :price_per_day %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file %>
        </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
      <% end %>

      <%= link_to 'Back', surfboards_path %>
    </div>
  </div>
</div>

