<div class="container my-5">
  <div class="row justify-content-between">
    <h1><%= @surfboard.name %></h1>
    <% if policy(@booking).new? %>
      <div>
        <%= link_to "Make a booking", new_surfboard_booking_path(@surfboard), class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
    <% if policy(@surfboard).edit? %>
      <div>
        <%= link_to "Edit surfboard", edit_surfboard_path(@surfboard), class: "btn btn-outline-secondary" %>
      </div>
    <% end %>

  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="card-surfboard-show">
        <% if @surfboard.photo.attached? %>
        <div class="card-box">
        <%= cl_image_tag @surfboard.photo.key, width: 400, height: 400, crop: :thumb, gravity: :face, class: "surfboard-index-img"%>
        </div>
        <% end %>
          <div class="card-surfboard-show-info">
            <% feet = @surfboard.length / 12 %>
            <% inches = @surfboard.length % 12 %>
            <% length = "#{feet}'#{inches}\"" %>
            <h2><%= length %> <%= @surfboard.name %></h2>
            <p><strong>Description: </strong><%= @surfboard.description %></p>
            <p><strong>Volume: </strong><%= @surfboard.volume %> liters</p>
            <p><strong>Board type: </strong><%= @surfboard.board_type %></p>
            <p><strong>Fin type: </strong><%= @surfboard.fin_type %></p>
            <p><strong>Brand: </strong><%= @surfboard.brand %></p>
            <p><strong>Owner: </strong><%= @surfboard.user.username %></p>
            <h2 class="card-trip-pricing">Price per day: $<%= @surfboard.price_per_day %></h2>
          </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col">
        <h2>Reviews for <%= @surfboard.name %></h2>
        <% @surfboard.reviews.each do |review| %>
        <div class="card-review">
          <p><em>"<%= review.comment %>!"</em> shouts <%= review.user.username %></p>
          <p>Rating: <%= review.rating %> / 5</p>
        </div>
        <% end %>
    </div>
  </div>
</div>
